.sidebar {
  position: sticky;
  background-color: var(--neutral-200);
  color: #4c6374;
  height: 100vh;
  left: 0;
  top: 0;
  transition:
    width 0.5s ease,
    background-color 0.5s ease;
  z-index: 10;
  width: 250px;
}

.sidebar-logo img {
  display: block;
  margin: 0 auto;
  padding: 20px;
}

.notification-bell {
  width: 16px;
  height: auto;
}

.sidebar.collapsed .sidebar-logo img {
  width: 63%;
  margin: 5px 0;
}

.sidebar.collapsed {
  width: 100px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1.8rem;
}

.sidebar ul ul {
  margin: 0;
  padding-left: 0;
}

.icon-container {
  margin-top: 50px;
}

.notification-li:hover {
  background-color: #83aac7;
}

.header-icon li:hover {
  background-color: #83aac7;
  color: white;
}

.sidebar li {
  /* display: flex; */
  align-items: center;
  align-items: center;
  padding: 10px;
}

.sidebar li img {
  margin-right: 10px;
}

.isMenuOpen span {
  display: none;
}

.filter-category {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  width: 100%;
  border: none;
  color: #4c6374;
}

.filter-category:hover {
  background-color: #83aac7;
  color: white;
  padding: 10px;
  margin: -10px;
}

.filter-category img {
  margin-right: 10px;
}

.filter-category:hover {
  background-color: #83aac7;
  color: white;
}

.showFilter,
.filter-dropdown button {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.filter-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
}

.showFilter:hover,
.filter-dropdown button:hover {
  background-color: #915c95;
  color: white;
}

.filter-dropdown button.active {
  background-color: #915c95;
  color: white;
}

.showFilter img {
  margin-right: 10px;
}

.collapsed .filter-text {
  display: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.notification-count {
  background-color: #ff0000;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -7px;
  left: 4%;
  width: 15px;
  height: 15px;
}

.notification-icon-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 12;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

@media (max-width: 1200px) {
  .sidebar-logo img {
    width: 10rem;
    padding: 0;
  }
}

.filter-dropdown {
  max-height: 400px;
  overflow-y: scroll;
}
.filter-dropdown::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement */
}
