.searchbar-container {
  position: relative;
  width: 28rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
}

.searchbar {
  width: 100%;
  height: 2.5rem;
  padding: 0 0 0 2.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--neutral-300);
  border: none;
  border-radius: 5px;
}

.result-tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2.5rem;
  z-index: 1000;
  background-color: var(--neutral-200);
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.search-result {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  padding: 1rem;
}

.search-result:hover {
  background-color: var(--neutral-200);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.result-image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.result-tab p {
  font-size: var(--fs-S);
  font-weight: 500;
  overflow: hidden;
}

.icone-loupe {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

@media (max-width: 1200px) {
  .navbar-header-mobile .searchbar-container {
    width: 100%;
  }
}
