n/* CSS Reset */

/* Box sizing border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default button styles */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* Remove default table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* START HERE */
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); /* Modern Browsers */
  /* You can include additional font formats like TrueType (.ttf) if necessary */
  font-optical-sizing: auto;
}

.width-container {
  max-width: 900px;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
